body {
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
}
#selectionWrapper {
	display: block;
	z-index: 1;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	top:0;
	left:0;
	position: absolute;
}
p {
	position: absolute;
	display: block;
	z-index: 3;
	cursor: pointer;
	font-size: 68pt;
	display:block;
	text-align:center;
	font-family: 'Helvetica Neue';
	letter-spacing: 2px;
	top:40%;
	left:50%;
	color:white;
	width: 800px;
	height: 70px;
}
.selectionA{margin: -35px 0px 0px -400px;}
.selectionB{
	font-size:38pt;
	margin: 60px 0px 0px -400px;
}
#c {
	position: absolute;
	z-index:1;
	filter:blur(30px);
	top:0;
	left:0;
	background-color: transparent;
}
#manifesto {
	text-align:justify;
	top:50%;
	margin-left: -360px;
}
#manifesto1 {
	top:80%;
	margin-left: -360px;
}